body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    position: relative;
    background-color: #68a5ff;
    height: 300px;
}
.mainMenu {
     width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #8bb88b;
}
.mainMenu_firstLevel {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 880px;
}
.mainMenu_firstLevelItem {
    float: left;
    position: relative;
}
.mainMenu_firstLevelItemLink {
    display: block;
    box-sizing: border-box;
    border: 3px solid silver;
    background-color: #a0522d;
    border-radius: 20px;
    padding: 0 32px;
    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}
.mainMenu_firstLevelItemLink:hover {
    background-color: #6f1400;
}
.mainMenu_secondLevel {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}
section {
    background-color: #80dd88;
    flex-grow: 1;
}
footer {
    background-color: #3c4857;
    height: 200px;
}

